*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color:#121212;
}

/* Header and form -------------------------------------------------------------------------------*/

.app-container{
    margin: 0 auto;
    width: 100vw;
    max-width:100%;
    height: 100vh;
}

.header-and-form-container{
    width: 100%;
    height: 30%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1628432136678-43ff9be34064?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80);
    background-color: #4B4B4B;
    background-blend-mode: multiply;
    background-position: left 25%;
    background-size: cover;
}
.active-page {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 800;
    color: #FFFFFF;
}

.inactive-page {
    order: -1;
    font-size: 0.8rem;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    transform: scale(1);
    transition: transform 250ms;
    background: #6B7280;
    opacity: 90%;
    padding: 0.5em 0.75em;
    border-radius: 4px;
}

.inactive-page:hover,
.inactive-page:focus,
.add-remove-btn:focus,
.add-remove-btn:hover{
    transform: scale(1.1);
    opacity: 100%;
}

.form{
    width: 90%;
    max-width: 550px;
    position: absolute;
    bottom: -2.25em;
    left: 50%; /* move left edge to center */
    transform: translate(-50%,0%); /* moves the left edge back to the left by half the size of the element*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5em;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.blank{
    opacity: 0%;
}

.form-icon-input{
    display: flex;
    align-items: center;
    width: 80%;
}

.search-input, .search-btn{
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}

.search-input{
    flex-grow: 1;
    border: none;
    background-color: #FFFFFF;
    color: #6B7280;
}

.search-btn{
    width: 20%;
    padding-block: 0.75em;
    border: none;
    border-left: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;
    background: #F9FAFB;
    color: #374151;
}

.fa-magnifying-glass{
    padding: 0 1em 0 1em;
    color: #9CA3AF;
    background: #FFFFFF;
    border-radius: 6px 0px 0px 6px;
}

/* Movie display section ------------------------------------------------------------------------*/

.movie-list-section,
.movie-header,
.movie-subheader,
.poster-container{
    display: flex;
    align-items: center;
    
}

.movie-list-section{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 70%;
    background-color: #FFFFFF;
    
}

.search-result{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.25em 1.5em;
    border: solid 1px red;
    border-bottom: 1.5px solid #E5E7EB;
}

.poster-container{
    width: 30%;
    text-align: center;
}

.poster{
    width: 100%;
}

.description-container{
    width: 65%;
}

.add-btn{
    font-weight: 500;
    font-size: 0.9rem;
    color: #363636;
    text-decoration: none;
    border: none;
    background: none;
    min-width: 40%; 
    justify-self: flex-end;
    text-align: right;
    padding: 0;
}

.add-btn:hover,
.add-btn:focus{
    color: darkred;
    cursor: pointer;
}

.bold{
    font-weight: 700;
}

.placeholder-container{
    text-align: center;
    max-width: 375px;
}

.fa-film{
    font-size: 6em;
    color: #DFDDDD;
}

.placeholder-text{
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: #DFDDDD;
}

.movie-title,
.movie-rating,
.movie-info,
.add-btn-placeholder-text{
    margin: 0;
}

.movie-header,
.movie-subheader{
    margin: 0 0 0.5rem 0;
    align-items: center;
    justify-content: space-between;
}

.movie-subheader-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movie-title{
    font-weight: 500;
    font-size: 1.2rem;
}

.movie-rating,
.movie-info{
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0;
}

.movie-rating{
    min-width: 15%;
    text-align: right;
}

.fa-star{
    color: #FEC654;
}

.movie-plot{
    margin: 0;
    font-size: 0.85rem;
    line-height: 20px;
    color: #6B7280;
    letter-spacing: 0.25px;
}

/* Media queries ------------------------------------------------------------------------*/
@media (min-width: 480px) {
    .header-and-form-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .inactive-page {
        order: 0;
    }
}

@media (min-width: 768px) {
    .header-and-form-container{
        padding: 0 4em;
    }
    .inactive-page{
        font-size: 1rem;
    }
    .search-result{
        padding: 1.25em 4em;
        border: solid 1px purple;
    }
    .poster-container{
        width: 20%;
    }
    .description-container{
        width: 75%;
    }
}

    